$margin-line-horizontal: 20px;
$margin-line-top: 5px;

%line-def {
    margin-left: $margin-line-horizontal;
    margin-top: $margin-line-top;
    margin-bottom: $margin-line-top;
    display: block;
    max-width: 75%;
}

#messages {
    display: inline;
}

#message-to-send {
    margin-top: 5px;
}

#chat-area {
    display: inline-block;
    margin: 5px;
    position: relative;
    border: 1px solid grey;
    width: 95%;
    height: 300px;
    overflow-y: scroll;

    .line {
        @extend %line-def;
        background-color: greenyellow;
    }

    .my-line {
        @extend %line-def;
        background-color: rgb(159, 159, 219);
    }
}

#back-btn {
    float:right;
    margin-top: $margin-line-top;
}
