{% extends "base.html" %}

{% block little_script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/channel.js') }}"></script>

    <script>
        window.localStorage.setItem('channel', '{{ channel }}')
    </script>
{% endblock %}

{% block title %}{{ channel }}{% endblock %}
{% block body %} 
    <h1>{{ channel }}:</h1>
    <div id="chat-area" class="row">
        {% for content in channel_content %}
            {% if user == content[1] %}
                <div id="msg-{{ content[0] }}" class="my-line"><b>You said: </b>{{ content[2] }} <b>{{ content[3] }}</b>
                    <img src="{{ url_for('static', filename='img/trash_can.svg') }}" alt="trash can">
                </div>
            {% else %}
                <div id="msg-{{ content[0] }}" class="line"><b>{{ content[1] }} said: </b>{{ content[2] }} <b>{{ content[3] }}</b></div>
            {% endif %}
        {% endfor %}
    </div>
    <div id="message-to-send" class="input-group">
        <input id="message-content" type="text" class="form-control" placeholder="Aa">
        <div class="input-group-append">
            <button id="send-message" class="btn btn-primary" type="button">Send</button>
        </div>
    </div>
    <a href="{{ url_for('channels') }}" id="back-btn" type="button" class="btn btn-primary">Back</a>
</div>
{% endblock %}
   