{% extends "base.html" %}

{% block little_script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/channel.js') }}"></script>

    <script>
        window.localStorage.setItem('channel', '{{ channel }}')
    </script>
{% endblock %}

{% block title %}{{ channel }}{% endblock %}
{% block body %} 
    <h1>{{ channel }}:</h1>
    <div id="chat-area" class="row">
        {% for content in channel_content %}
            {% if user == content[0] %}
                <div class="my-line"><b>You said: </b>{{ content[1] }} <b>at {{ content[2] }}</b></div>
            {% else %}
                <div class="line"><b>{{ content[0] }} said: </b>{{ content[1] }} <b>at {{ content[2] }}</b></div>
            {% endif %}
        {% endfor %}
    </div>
    <div id="message-to-send" class="input-group">
        <input id="message-content" type="text" class="form-control" placeholder="Aa">
        <div class="input-group-append">
            <button id="send-message" class="btn btn-primary" type="button">Send</button>
        </div>
    </div>
    <a href="{{ url_for('channels') }}" id="back-btn" type="button" class="btn btn-primary">Back</a>
</div>
{% endblock %}
   